@page
@model AccProductsEnt.Kuriev.Pages.ProductModel
@{
}
<div class="row  ">
    <div class="col">
        <a class="btn mb-2 " style="background-color:#7796bf; color:white" asp-page="AddProduct">Добавить изделие</a>
    </div>
    <div class="col ">
        <form asp-page-handler="SearchProduct">
            <div class="input-group mb-3 m">
                <input type="text" class="form-control" asp-for="@Model.SearchProduct" placeholder="Введите название изделия" aria-label="Search">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-outline-secondary w-100 ms-2">Найти</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col position-relative">
        <form asp-page-handler="SortProduct">
            <select class="form-select form-select-lg w-50 h-75  fs-6" asp-for="@Model.SortProduct" style="margin-left:50%">
                <option selected value="1">Отменить сортировку</option>
                <option value="2">По названию</option>
                <option value="3"><button type="submit">По цене</button></option>
                <option value="4"><button type="submit">По дате производства</button></option>
            </select>
            <button type="submit" class="btn btn-secondary" style="position:absolute;background-color:#7796bf; top:1%; left:25%">Отсортировать</button>
        </form>
    </div>

</div>



<div class="row mx-5  justify-content-center ">
    @foreach (var item in Model.Products)
    {
        <div class="col-3 ms-5 card shadow mb-5">
            <div class="col border-secondary" style="display:flex;">
                <img src="@item.ImgPath" style="max-height:300px;margin-top:1%; max-width:300px;">
                <form method="post" asp-page-handler="Delete" asp-route-id="@item.Id">
                    <button class="position-absolute btn" style="top:1%; right:1%">
                        <img src="~/images/delete.png" />
                    </button>
                </form>
            </div>
            <div class="col">
                <h1>@item.ProductName</h1>
                <p><strong>Описание: </strong>@item.Description</p>
                <p><strong>Количество: </strong>@item.Quantity</p>
                <p><strong>Цена за шт: </strong>@item.PricePerPiece</p>
                <p><strong>Дата производства: </strong>@item.DateOfManufacture.ToShortDateString()</p>
                <form method="post" asp-route-id="@item.Id" asp-page="UpdateProduct" asp-page-handler="EditProduct">
                    <button type="submit" class="position-absolute btn" style="bottom:3%; right:2%">
                        <img src="~/images/edit.png" />
                    </button>
                </form>
            </div>
        </div>
    }       
</div>



